[DUN]
default=/dev/pts15

[MUX]
MUX_27010=/dev/ttyspi0

[RIL_BASE]
IPC_GROUP_UNSOLICITED=/dev/pts1
IPC_GROUP_INITIALIZATION=/dev/pts2
IPC_GROUP_SIM=/dev/pts3
IPC_GROUP_STK=/dev/pts4
IPC_GROUP_CALL_CONTROL=/dev/pts5
IPC_GROUP_NETWORK=/dev/pts6
IPC_GROUP_SMS=/dev/pts7
IPC_GROUP_SMS_MO=/dev/pts14
IPC_GROUP_SS_USSD=/dev/pts8
IPC_GROUP_PHONEBOOK=/dev/pts11
IPC_GROUP_FACTORY_TEST=/dev/pts13
IPC_GROUP_ME_CONTROL_AND_STATUS=/dev/pts2
IPC_GROUP_TEMP=/dev/pts28
IPC_GROUP_DATACALL_CONTROL_1=/dev/pts20,20
IPC_GROUP_DATACALL_CONTROL_2=/dev/pts20,20
IPC_GROUP_DATACALL_CONTROL_3=/dev/pts20,20
IPC_GROUP_DATACALL_CONTROL_4=/dev/pts20,20
IPC_GROUP_DATACALL_DATA_1=/dev/pts21,21
IPC_GROUP_DATACALL_DATA_2=/dev/pts23,23
IPC_GROUP_DATACALL_DATA_3=/dev/pts25,25
IPC_GROUP_DATACALL_DATA_4=/dev/pts27,27
IPC_GROUP_INTERNAL_REQUESTS=/dev/pts15
IPC_GROUP_NETWORK_REG=/dev/pts9
NET_DEV_NAME=vsnet%d

[AUDIO_CHANNEL]
IPC_GROUP_AUDIO=/dev/pts29

[VT_CHANNEL]
VT_CONTROL=/dev/pts5,5
VT_DATA=/dev/pts12,12

[AT_SERVICE]
IPC_GROUP_AT_SERVICE=/dev/pts16

[AGPS_SERVICE]
IPC_GROUP_AGPS_SERVICE_TTY=NULL
IPC_GROUP_AGPS_SERVICE_CHANNEL=/dev/pts17
IPC_GROUP_AGPS_SERVICE_SHW=1
IPC_GROUP_AGPS_SERVICE_USOCK=NULL
IPC_GROUP_AGPS_SERVICE_UHW=0
IPC_GROUP_AGPS_SERVICE_SPORT=0
